body {
    font-family: Arial;
    background: #eef2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input,
button {
    display: block;
    margin: 10px auto;
    padding: 10px;
}